# Environnements virtuels Python
venv/
env/
.env
__pycache__/
*.pyc

# Données de la base de données locale
bifolia_data/
bifolia_database/
pgAdmin 4_files/

# Dossiers Airflow lourds
logs/
plugins/

# Fichiers Git
.git/
.gitignore

# Autres fichiers inutiles pour l'API
*.pdf
FT_Vegetal/