--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg110+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.recommandation DROP CONSTRAINT recommandation_id_culture_fkey;
ALTER TABLE ONLY public.operations_agricoles DROP CONSTRAINT operations_agricoles_parcelle_id_fkey;
ALTER TABLE ONLY public.indices_satellites DROP CONSTRAINT fk_satellite_parcelle;
ALTER TABLE ONLY public.recommandation DROP CONSTRAINT fk_recommandation_culture;
ALTER TABLE ONLY public.parcelles DROP CONSTRAINT fk_parcelle_commune;
ALTER TABLE ONLY public.donnees_meteo DROP CONSTRAINT fk_meteo_parcelle;
ALTER TABLE ONLY public.indices_satellites DROP CONSTRAINT fk_indices_parcelle;
ALTER TABLE ONLY public.donnees_meteo DROP CONSTRAINT fk_donnees_meteo_parcelle;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT fk_culture_temp_optimale;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT fk_culture_exigence_sol;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT fk_culture_besoin_hydrique;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT cultures_temp_optimale_id_fkey;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT cultures_exigence_sol_id_fkey;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT cultures_besoin_hydrique_id_fkey;
ALTER TABLE ONLY public.culture_maladie_details DROP CONSTRAINT culture_maladie_details_traitement_specifique_id_fkey;
ALTER TABLE ONLY public.culture_maladie_details DROP CONSTRAINT culture_maladie_details_maladie_id_fkey;
ALTER TABLE ONLY public.culture_maladie_details DROP CONSTRAINT culture_maladie_details_culture_id_fkey;
ALTER TABLE ONLY public.traitements DROP CONSTRAINT traitements_pkey;
ALTER TABLE ONLY public.traitements DROP CONSTRAINT traitements_nom_traitement_key;
ALTER TABLE ONLY public.ref_temp_optimale DROP CONSTRAINT ref_temp_optimale_pkey;
ALTER TABLE ONLY public.ref_exigences_sol DROP CONSTRAINT ref_exigences_sol_pkey;
ALTER TABLE ONLY public.ref_exigences_sol DROP CONSTRAINT ref_exigences_sol_libelle_key;
ALTER TABLE ONLY public.ref_besoins_hydriques DROP CONSTRAINT ref_besoins_hydriques_pkey;
ALTER TABLE ONLY public.ref_besoins_hydriques DROP CONSTRAINT ref_besoins_hydriques_libelle_key;
ALTER TABLE ONLY public.recommandation DROP CONSTRAINT recommandation_pkey;
ALTER TABLE ONLY public.parcelles DROP CONSTRAINT parcelles_pkey;
ALTER TABLE ONLY public.operations_agricoles DROP CONSTRAINT operations_agricoles_pkey;
ALTER TABLE ONLY public.maladies DROP CONSTRAINT maladies_pkey;
ALTER TABLE ONLY public.maladies DROP CONSTRAINT maladies_nom_maladie_key;
ALTER TABLE ONLY public.indices_satellites DROP CONSTRAINT indices_satellites_pkey;
ALTER TABLE ONLY public.indices_satellites DROP CONSTRAINT indices_satellites_parcelle_id_date_capture_key;
ALTER TABLE ONLY public.donnees_meteo DROP CONSTRAINT donnees_meteo_pkey;
ALTER TABLE ONLY public.donnees_meteo DROP CONSTRAINT donnees_meteo_parcelle_id_date_mesure_key;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT cultures_pkey;
ALTER TABLE ONLY public.cultures DROP CONSTRAINT cultures_nom_culture_key;
ALTER TABLE ONLY public.culture_maladie_details DROP CONSTRAINT culture_maladie_details_pkey;
ALTER TABLE ONLY public.communes_maroc DROP CONSTRAINT communes_maroc_pkey;
ALTER TABLE public.traitements ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.ref_temp_optimale ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.ref_exigences_sol ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.ref_besoins_hydriques ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.recommandation ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.parcelles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.operations_agricoles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.maladies ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.indices_satellites ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.donnees_meteo ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.cultures ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.culture_maladie_details ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.communes_maroc ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE public.traitements_id_seq;
DROP TABLE public.traitements;
DROP SEQUENCE public.ref_temp_optimale_id_seq;
DROP TABLE public.ref_temp_optimale;
DROP SEQUENCE public.ref_exigences_sol_id_seq;
DROP TABLE public.ref_exigences_sol;
DROP SEQUENCE public.ref_besoins_hydriques_id_seq;
DROP TABLE public.ref_besoins_hydriques;
DROP SEQUENCE public.recommandation_id_seq;
DROP TABLE public.recommandation;
DROP SEQUENCE public.parcelles_id_seq;
DROP TABLE public.parcelles;
DROP SEQUENCE public.operations_agricoles_id_seq;
DROP TABLE public.operations_agricoles;
DROP VIEW public.master_training_dataset;
DROP SEQUENCE public.maladies_id_seq;
DROP TABLE public.maladies;
DROP SEQUENCE public.indices_satellites_id_seq;
DROP TABLE public.indices_satellites;
DROP SEQUENCE public.donnees_meteo_id_seq;
DROP TABLE public.donnees_meteo;
DROP SEQUENCE public.cultures_id_seq;
DROP TABLE public.cultures;
DROP SEQUENCE public.culture_maladie_details_id_seq;
DROP TABLE public.culture_maladie_details;
DROP SEQUENCE public.communes_maroc_id_seq;
DROP TABLE public.communes_maroc;
DROP EXTENSION postgis_topology;
DROP EXTENSION postgis_tiger_geocoder;
DROP EXTENSION postgis;
DROP EXTENSION fuzzystrmatch;
DROP SCHEMA topology;
DROP SCHEMA tiger_data;
DROP SCHEMA tiger;
--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO admin;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO admin;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO admin;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: communes_maroc; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.communes_maroc (
    nom_commune text,
    cercle text,
    province text,
    region text,
    latitude double precision,
    longitude double precision,
    id integer NOT NULL
);


ALTER TABLE public.communes_maroc OWNER TO admin;

--
-- Name: communes_maroc_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.communes_maroc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.communes_maroc_id_seq OWNER TO admin;

--
-- Name: communes_maroc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.communes_maroc_id_seq OWNED BY public.communes_maroc.id;


--
-- Name: culture_maladie_details; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.culture_maladie_details (
    id integer NOT NULL,
    culture_id integer,
    maladie_id integer,
    traitement_specifique_id integer
);


ALTER TABLE public.culture_maladie_details OWNER TO admin;

--
-- Name: culture_maladie_details_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.culture_maladie_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.culture_maladie_details_id_seq OWNER TO admin;

--
-- Name: culture_maladie_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.culture_maladie_details_id_seq OWNED BY public.culture_maladie_details.id;


--
-- Name: cultures; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cultures (
    id integer NOT NULL,
    nom_culture character varying(100),
    exigence_sol_id integer,
    besoin_hydrique_id integer,
    temp_optimale_id integer
);


ALTER TABLE public.cultures OWNER TO admin;

--
-- Name: cultures_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cultures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cultures_id_seq OWNER TO admin;

--
-- Name: cultures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cultures_id_seq OWNED BY public.cultures.id;


--
-- Name: donnees_meteo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.donnees_meteo (
    id integer NOT NULL,
    parcelle_id integer,
    date_mesure date NOT NULL,
    temp_moyenne numeric(5,2),
    temp_min numeric(5,2),
    temp_max numeric(5,2),
    humidite_moyenne numeric(5,2),
    precipitations_mm numeric(6,2),
    radiation_solaire numeric(8,2),
    source character varying(50) DEFAULT 'Open-Meteo'::character varying
);


ALTER TABLE public.donnees_meteo OWNER TO admin;

--
-- Name: donnees_meteo_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.donnees_meteo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.donnees_meteo_id_seq OWNER TO admin;

--
-- Name: donnees_meteo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.donnees_meteo_id_seq OWNED BY public.donnees_meteo.id;


--
-- Name: indices_satellites; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.indices_satellites (
    id integer NOT NULL,
    parcelle_id integer,
    date_capture date NOT NULL,
    ndvi numeric(5,4),
    ndwi numeric(5,4),
    evi numeric(5,4),
    couverture_nuageuse numeric(5,2),
    source character varying(50) DEFAULT 'Sentinel-2'::character varying
);


ALTER TABLE public.indices_satellites OWNER TO admin;

--
-- Name: indices_satellites_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.indices_satellites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.indices_satellites_id_seq OWNER TO admin;

--
-- Name: indices_satellites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.indices_satellites_id_seq OWNED BY public.indices_satellites.id;


--
-- Name: maladies; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.maladies (
    id integer NOT NULL,
    nom_maladie character varying(500),
    temp_min_declenchement numeric(5,2),
    temp_max_declenchement numeric(5,2),
    humidite_min_declenchement numeric(5,2),
    precipitations_min_declenchement numeric(5,2)
);


ALTER TABLE public.maladies OWNER TO admin;

--
-- Name: maladies_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.maladies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.maladies_id_seq OWNER TO admin;

--
-- Name: maladies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.maladies_id_seq OWNED BY public.maladies.id;


--
-- Name: master_training_dataset; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.master_training_dataset AS
 SELECT m.date_mesure,
    m.parcelle_id,
    m.temp_moyenne,
    m.temp_min,
    m.temp_max,
    m.precipitations_mm,
    s.ndvi,
    s.ndwi
   FROM (public.donnees_meteo m
     LEFT JOIN public.indices_satellites s ON (((m.parcelle_id = s.parcelle_id) AND (m.date_mesure = s.date_capture))));


ALTER TABLE public.master_training_dataset OWNER TO admin;

--
-- Name: operations_agricoles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.operations_agricoles (
    id integer NOT NULL,
    parcelle_id integer,
    date_operation date NOT NULL,
    type_operation character varying(50) NOT NULL,
    quantite numeric(10,2),
    unite character varying(20),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.operations_agricoles OWNER TO admin;

--
-- Name: operations_agricoles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.operations_agricoles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.operations_agricoles_id_seq OWNER TO admin;

--
-- Name: operations_agricoles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.operations_agricoles_id_seq OWNED BY public.operations_agricoles.id;


--
-- Name: parcelles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.parcelles (
    id integer NOT NULL,
    nom_parcelle character varying(100),
    polygone_geo public.geometry(Polygon,4326),
    latitude numeric(9,6),
    longitude numeric(9,6),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    region character varying(150),
    commune character varying(150),
    commune_id integer
);


ALTER TABLE public.parcelles OWNER TO admin;

--
-- Name: parcelles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.parcelles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.parcelles_id_seq OWNER TO admin;

--
-- Name: parcelles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.parcelles_id_seq OWNED BY public.parcelles.id;


--
-- Name: recommandation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.recommandation (
    id integer NOT NULL,
    description text NOT NULL,
    status character varying(50) DEFAULT 'en cours'::character varying,
    categorie character varying(50),
    culture_id integer
);


ALTER TABLE public.recommandation OWNER TO admin;

--
-- Name: recommandation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.recommandation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recommandation_id_seq OWNER TO admin;

--
-- Name: recommandation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.recommandation_id_seq OWNED BY public.recommandation.id;


--
-- Name: ref_besoins_hydriques; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ref_besoins_hydriques (
    id integer NOT NULL,
    libelle character varying(500)
);


ALTER TABLE public.ref_besoins_hydriques OWNER TO admin;

--
-- Name: ref_besoins_hydriques_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ref_besoins_hydriques_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ref_besoins_hydriques_id_seq OWNER TO admin;

--
-- Name: ref_besoins_hydriques_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ref_besoins_hydriques_id_seq OWNED BY public.ref_besoins_hydriques.id;


--
-- Name: ref_exigences_sol; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ref_exigences_sol (
    id integer NOT NULL,
    libelle character varying(500)
);


ALTER TABLE public.ref_exigences_sol OWNER TO admin;

--
-- Name: ref_exigences_sol_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ref_exigences_sol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ref_exigences_sol_id_seq OWNER TO admin;

--
-- Name: ref_exigences_sol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ref_exigences_sol_id_seq OWNED BY public.ref_exigences_sol.id;


--
-- Name: ref_temp_optimale; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ref_temp_optimale (
    id integer NOT NULL,
    temp_min numeric,
    temp_max numeric
);


ALTER TABLE public.ref_temp_optimale OWNER TO admin;

--
-- Name: ref_temp_optimale_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ref_temp_optimale_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ref_temp_optimale_id_seq OWNER TO admin;

--
-- Name: ref_temp_optimale_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ref_temp_optimale_id_seq OWNED BY public.ref_temp_optimale.id;


--
-- Name: traitements; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.traitements (
    id integer NOT NULL,
    nom_traitement character varying(500),
    type_traitement character varying(100),
    description text
);


ALTER TABLE public.traitements OWNER TO admin;

--
-- Name: traitements_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.traitements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.traitements_id_seq OWNER TO admin;

--
-- Name: traitements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.traitements_id_seq OWNED BY public.traitements.id;


--
-- Name: communes_maroc id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.communes_maroc ALTER COLUMN id SET DEFAULT nextval('public.communes_maroc_id_seq'::regclass);


--
-- Name: culture_maladie_details id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.culture_maladie_details ALTER COLUMN id SET DEFAULT nextval('public.culture_maladie_details_id_seq'::regclass);


--
-- Name: cultures id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures ALTER COLUMN id SET DEFAULT nextval('public.cultures_id_seq'::regclass);


--
-- Name: donnees_meteo id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donnees_meteo ALTER COLUMN id SET DEFAULT nextval('public.donnees_meteo_id_seq'::regclass);


--
-- Name: indices_satellites id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.indices_satellites ALTER COLUMN id SET DEFAULT nextval('public.indices_satellites_id_seq'::regclass);


--
-- Name: maladies id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.maladies ALTER COLUMN id SET DEFAULT nextval('public.maladies_id_seq'::regclass);


--
-- Name: operations_agricoles id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.operations_agricoles ALTER COLUMN id SET DEFAULT nextval('public.operations_agricoles_id_seq'::regclass);


--
-- Name: parcelles id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parcelles ALTER COLUMN id SET DEFAULT nextval('public.parcelles_id_seq'::regclass);


--
-- Name: recommandation id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommandation ALTER COLUMN id SET DEFAULT nextval('public.recommandation_id_seq'::regclass);


--
-- Name: ref_besoins_hydriques id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_besoins_hydriques ALTER COLUMN id SET DEFAULT nextval('public.ref_besoins_hydriques_id_seq'::regclass);


--
-- Name: ref_exigences_sol id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_exigences_sol ALTER COLUMN id SET DEFAULT nextval('public.ref_exigences_sol_id_seq'::regclass);


--
-- Name: ref_temp_optimale id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_temp_optimale ALTER COLUMN id SET DEFAULT nextval('public.ref_temp_optimale_id_seq'::regclass);


--
-- Name: traitements id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.traitements ALTER COLUMN id SET DEFAULT nextval('public.traitements_id_seq'::regclass);


--
-- Data for Name: communes_maroc; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: culture_maladie_details; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: cultures; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: donnees_meteo; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: indices_satellites; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: maladies; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: operations_agricoles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.operations_agricoles (id, parcelle_id, date_operation, type_operation, quantite, unite, description, created_at) FROM stdin;
\.


--
-- Data for Name: parcelles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: recommandation; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ref_besoins_hydriques; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ref_exigences_sol; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ref_temp_optimale; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.ref_temp_optimale (id, temp_min, temp_max) FROM stdin;
1	-24.0	7.0
2	10.0	\N
3	-5.0	10.0
4	7.2	7.0
5	7.2	-16.0
6	15.0	30.0
7	23.0	25.0
8	18.0	28.0
9	-2.0	25.0
10	20.0	30.0
11	-26.0	10.0
12	-1.0	25.0
13	16.0	26.0
14	47.0	\N
15	\N	\N
16	-1.7	-1.1
17	-26.0	25.0
18	-10.0	25.0
19	15.0	25.0
20	10.0	35.0
21	6.0	29.0
22	-10.0	40.0
23	4.0	24.0
24	5.0	27.0
25	20.0	25.0
26	-5.0	27.0
27	-2.0	-5.0
28	7.2	22.0
29	6.0	25.0
30	5.0	30.0
31	-16.0	7.0
32	-5.0	30.0
33	20.0	35.0
34	12.0	25.0
35	13.0	17.0
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: traitements; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: communes_maroc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.communes_maroc_id_seq', 45, true);


--
-- Name: culture_maladie_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.culture_maladie_details_id_seq', 228, true);


--
-- Name: cultures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cultures_id_seq', 50, true);


--
-- Name: donnees_meteo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.donnees_meteo_id_seq', 22392, true);


--
-- Name: indices_satellites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.indices_satellites_id_seq', 1824, true);


--
-- Name: maladies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.maladies_id_seq', 160, true);


--
-- Name: operations_agricoles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.operations_agricoles_id_seq', 1, false);


--
-- Name: parcelles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.parcelles_id_seq', 1, false);


--
-- Name: recommandation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.recommandation_id_seq', 268, true);


--
-- Name: ref_besoins_hydriques_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ref_besoins_hydriques_id_seq', 50, true);


--
-- Name: ref_exigences_sol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ref_exigences_sol_id_seq', 50, true);


--
-- Name: ref_temp_optimale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ref_temp_optimale_id_seq', 35, true);


--
-- Name: traitements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.traitements_id_seq', 228, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: admin
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: communes_maroc communes_maroc_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.communes_maroc
    ADD CONSTRAINT communes_maroc_pkey PRIMARY KEY (id);


--
-- Name: culture_maladie_details culture_maladie_details_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.culture_maladie_details
    ADD CONSTRAINT culture_maladie_details_pkey PRIMARY KEY (id);


--
-- Name: cultures cultures_nom_culture_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT cultures_nom_culture_key UNIQUE (nom_culture);


--
-- Name: cultures cultures_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT cultures_pkey PRIMARY KEY (id);


--
-- Name: donnees_meteo donnees_meteo_parcelle_id_date_mesure_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donnees_meteo
    ADD CONSTRAINT donnees_meteo_parcelle_id_date_mesure_key UNIQUE (parcelle_id, date_mesure);


--
-- Name: donnees_meteo donnees_meteo_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donnees_meteo
    ADD CONSTRAINT donnees_meteo_pkey PRIMARY KEY (id);


--
-- Name: indices_satellites indices_satellites_parcelle_id_date_capture_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.indices_satellites
    ADD CONSTRAINT indices_satellites_parcelle_id_date_capture_key UNIQUE (parcelle_id, date_capture);


--
-- Name: indices_satellites indices_satellites_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.indices_satellites
    ADD CONSTRAINT indices_satellites_pkey PRIMARY KEY (id);


--
-- Name: maladies maladies_nom_maladie_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.maladies
    ADD CONSTRAINT maladies_nom_maladie_key UNIQUE (nom_maladie);


--
-- Name: maladies maladies_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.maladies
    ADD CONSTRAINT maladies_pkey PRIMARY KEY (id);


--
-- Name: operations_agricoles operations_agricoles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.operations_agricoles
    ADD CONSTRAINT operations_agricoles_pkey PRIMARY KEY (id);


--
-- Name: parcelles parcelles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parcelles
    ADD CONSTRAINT parcelles_pkey PRIMARY KEY (id);


--
-- Name: recommandation recommandation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommandation
    ADD CONSTRAINT recommandation_pkey PRIMARY KEY (id);


--
-- Name: ref_besoins_hydriques ref_besoins_hydriques_libelle_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_besoins_hydriques
    ADD CONSTRAINT ref_besoins_hydriques_libelle_key UNIQUE (libelle);


--
-- Name: ref_besoins_hydriques ref_besoins_hydriques_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_besoins_hydriques
    ADD CONSTRAINT ref_besoins_hydriques_pkey PRIMARY KEY (id);


--
-- Name: ref_exigences_sol ref_exigences_sol_libelle_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_exigences_sol
    ADD CONSTRAINT ref_exigences_sol_libelle_key UNIQUE (libelle);


--
-- Name: ref_exigences_sol ref_exigences_sol_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_exigences_sol
    ADD CONSTRAINT ref_exigences_sol_pkey PRIMARY KEY (id);


--
-- Name: ref_temp_optimale ref_temp_optimale_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ref_temp_optimale
    ADD CONSTRAINT ref_temp_optimale_pkey PRIMARY KEY (id);


--
-- Name: traitements traitements_nom_traitement_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.traitements
    ADD CONSTRAINT traitements_nom_traitement_key UNIQUE (nom_traitement);


--
-- Name: traitements traitements_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.traitements
    ADD CONSTRAINT traitements_pkey PRIMARY KEY (id);


--
-- Name: culture_maladie_details culture_maladie_details_culture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.culture_maladie_details
    ADD CONSTRAINT culture_maladie_details_culture_id_fkey FOREIGN KEY (culture_id) REFERENCES public.cultures(id) ON DELETE CASCADE;


--
-- Name: culture_maladie_details culture_maladie_details_maladie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.culture_maladie_details
    ADD CONSTRAINT culture_maladie_details_maladie_id_fkey FOREIGN KEY (maladie_id) REFERENCES public.maladies(id);


--
-- Name: culture_maladie_details culture_maladie_details_traitement_specifique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.culture_maladie_details
    ADD CONSTRAINT culture_maladie_details_traitement_specifique_id_fkey FOREIGN KEY (traitement_specifique_id) REFERENCES public.traitements(id);


--
-- Name: cultures cultures_besoin_hydrique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT cultures_besoin_hydrique_id_fkey FOREIGN KEY (besoin_hydrique_id) REFERENCES public.ref_besoins_hydriques(id);


--
-- Name: cultures cultures_exigence_sol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT cultures_exigence_sol_id_fkey FOREIGN KEY (exigence_sol_id) REFERENCES public.ref_exigences_sol(id);


--
-- Name: cultures cultures_temp_optimale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT cultures_temp_optimale_id_fkey FOREIGN KEY (temp_optimale_id) REFERENCES public.ref_temp_optimale(id);


--
-- Name: cultures fk_culture_besoin_hydrique; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT fk_culture_besoin_hydrique FOREIGN KEY (besoin_hydrique_id) REFERENCES public.ref_besoins_hydriques(id);


--
-- Name: cultures fk_culture_exigence_sol; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT fk_culture_exigence_sol FOREIGN KEY (exigence_sol_id) REFERENCES public.ref_exigences_sol(id);


--
-- Name: cultures fk_culture_temp_optimale; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cultures
    ADD CONSTRAINT fk_culture_temp_optimale FOREIGN KEY (temp_optimale_id) REFERENCES public.ref_temp_optimale(id);


--
-- Name: donnees_meteo fk_donnees_meteo_parcelle; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donnees_meteo
    ADD CONSTRAINT fk_donnees_meteo_parcelle FOREIGN KEY (parcelle_id) REFERENCES public.parcelles(id) ON DELETE CASCADE;


--
-- Name: indices_satellites fk_indices_parcelle; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.indices_satellites
    ADD CONSTRAINT fk_indices_parcelle FOREIGN KEY (parcelle_id) REFERENCES public.parcelles(id) ON DELETE CASCADE;


--
-- Name: donnees_meteo fk_meteo_parcelle; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donnees_meteo
    ADD CONSTRAINT fk_meteo_parcelle FOREIGN KEY (parcelle_id) REFERENCES public.parcelles(id) ON DELETE CASCADE;


--
-- Name: parcelles fk_parcelle_commune; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parcelles
    ADD CONSTRAINT fk_parcelle_commune FOREIGN KEY (commune_id) REFERENCES public.communes_maroc(id) ON DELETE SET NULL;


--
-- Name: recommandation fk_recommandation_culture; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommandation
    ADD CONSTRAINT fk_recommandation_culture FOREIGN KEY (culture_id) REFERENCES public.cultures(id) ON DELETE CASCADE;


--
-- Name: indices_satellites fk_satellite_parcelle; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.indices_satellites
    ADD CONSTRAINT fk_satellite_parcelle FOREIGN KEY (parcelle_id) REFERENCES public.parcelles(id) ON DELETE CASCADE;


--
-- Name: operations_agricoles operations_agricoles_parcelle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.operations_agricoles
    ADD CONSTRAINT operations_agricoles_parcelle_id_fkey FOREIGN KEY (parcelle_id) REFERENCES public.parcelles(id) ON DELETE CASCADE;


--
-- Name: recommandation recommandation_id_culture_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommandation
    ADD CONSTRAINT recommandation_id_culture_fkey FOREIGN KEY (culture_id) REFERENCES public.cultures(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

